*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}
.conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.left{
    width: 50%;
    height: 100%;
    border-right: 3px solid #000;
    padding: 20px 0 0 10px;
}
.left button{
    width: 90px;
    height: 25px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.right{
    width: 50%;
    height: 100%;
    /* border: 1px solid #000; */
    padding: 20px 0 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right button{
    /* position: absolute; */
    width: 200px;
    height: 30px;
    border: 1px solid transparent;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    /* display: none; */
}
.right1Div{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.right2Div{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.right3Div{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.right4Div{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}